/*.informations {
    fill: #6FC8F1;
}
.createCV {
    fill: #6FC8F1;
}

.gallery {
    fill: #388CB2;
}

.shop {
    fill: #388CB2;
}*/

.bg-svg {
    background-color: #265d77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23253145' fill-opacity='0.71'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

.item.active {
    background-color: #4191b5;
    color: white;
}

/*.informations {
    fill: #6FC8F1;
}
.createCV {
    fill: #6FC8F1;
}

.gallery {
    fill: #388CB2;
}

.shop {
    fill: #388CB2;
}*/

.animHome {
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
}

/*
animation-duration: 25s;
  animation-name: slidein;
 */

.animHome:hover {
    background-color: white;
}

.animHome:hover p {
    color: #6FC8F1;
}

.animHome:hover svg {
    fill: #6FC8F1;
    animation-duration: 2s;
    animation-name: animationSVG;
    animation-iteration-count: infinite;
}

@keyframes animationSVG {
    from {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(10deg);
    }

    66% {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.button {
    box-shadow: 0px 0px 50px white;
}

header a {
    position: relative;
}

header a.active:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.45rem;
    bottom: 0;
    left: 0;
    margin-bottom: -0.75rem;
    background-color: #B7E4F8;
}